*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/androidApp/build/
/androidApp/release/
/shared/build/
/iosApp/build/
/iosApp/*.xcodeproj/
/buildSrc/build/
/buildSrc/.gradle/
/captures/
.externalNativeBuild/
.cxx/
/branding/__pycache__/
*.jks
*.keystore
